<?xml version="1.0" encoding="utf-8"?>
<UserConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <KeyboardShortcuts />
  <HasBeenRun>true</HasBeenRun>
  <FirstRunDate>2026-04-27T20:19:24.9763451-04:00</FirstRunDate>
  <Version>3</Version>
  <FormStates>
    <FormState>
      <Name>ChooseDeviceForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>1128</Width>
        <Height>1327</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>EditProfileForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>1128</Width>
        <Height>1327</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>SettingsForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>1128</Width>
        <Height>1327</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>EmailProviderForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>0</Width>
        <Height>0</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
    <FormState>
      <Name>GtkPreviewForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>1338</Width>
        <Height>988</Height>
      </Size>
      <Maximized>true</Maximized>
    </FormState>
    <FormState>
      <Name>GtkDesktopForm</Name>
      <Location>
        <X>0</X>
        <Y>0</Y>
      </Location>
      <Size>
        <Width>2260</Width>
        <Height>1772</Height>
      </Size>
      <Maximized>false</Maximized>
    </FormState>
  </FormStates>
  <PdfSettings>
    <Metadata />
    <Encryption />
  </PdfSettings>
  <HasBeenPromptedForDonation>true</HasBeenPromptedForDonation>
  <LastDonatePromptDate>2026-05-31T11:39:35.6305553-04:00</LastDonatePromptDate>
  <EmailSetup>
    <ProviderType>Thunderbird</ProviderType>
  </EmailSetup>
  <EmailSettings />
</UserConfig>